# System files
.DS_Store
Thumbs.db

# Editor folders and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional: exclude build output if you're using a build process
dist/
build/

docs/.
.DS_Store
.vscode/
/old_site
/old_site/.gitignore
/old_site/docs/